.pl20 {
  padding-left: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mlrauto-mobile {
  @media screen and (max-width: 411px) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.mb30 {
  margin-bottom: 30px;
}

.mlrauto {
  margin-left: auto;
  margin-right: auto;
}

.mw100pc {
  max-width: 100%;
}
