<%= render"shared/navbar" %>

<div class="creative">
  <!-- <script type="text/javascript" id='pw_5be9115014c5a' src="https://app.paywhirl.com/pw.js"></script>
  <script>paywhirl('widget',{autoscroll: 0, domain:'helloradius' ,uuid:'5ca0afb8-4c66-453a-8a52-99fad95574e0'},'pw_5be9115014c5a'); </script> -->

  <script type="text/javascript" id='pw_5bfdcfcb9b067' src="https://app.paywhirl.com/pw.js"></script>
  <script>paywhirl('widget',{autoscroll: 1, domain:'mensa' ,uuid:'d3052c5b-29bc-46a9-95a0-e235993ca15c'},'pw_5bfdcfcb9b067'); </script>

  <!-- Stripe Logo Secure -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= image_tag("stripe.png", class: "stripe-logo")%>
        </div>
      </div>
    </div>
</div>

<%= render"shared/footer" %>

<script type="text/javascript">
  $(document).ready(function(){

    //Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
      // Set the URL to whatever it was plus "#".
      url = document.URL+"#";
      location = "#";

      //Reload the page
      location.reload(true);
    }
  });
</script>
