<div id="footer">
  <div class="footer-top">
    <button class="secondary-button footer-top-button">
      <a href="#pricing">Get Started</a>
    </button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="vcenter">
          <div class="made-with-love">
            Made with <%= image_tag("emoji-heart.png", class: "emoji") %>
            in Belgium <%= image_tag("emoji-flag.png", class: "emoji") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
