<div id="footer">
  <div class="footer-bottom">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="vcenter text-center">
            <div class="made-with-love">
              &copy; 2018 IGGROW -
              Made with <%= image_tag("emoji-heart.png", class: "emoji") %>
              in Belgium <%= image_tag("emoji-flag.png", class: "emoji") %>
            </div> <!-- End made-with-love -->
          </div> <!-- End .vcenter -->
        </div>
      </div>
    </div> <!-- End .container -->
  </div> <!-- End .footer-bottom -->
</div> <!-- End #footer -->
