<!-- Navbar -->
<div class="navbar-recovr hidden-sm hidden-xs">
  <a href="/#banner" class="iggrow-logo">
    iggrow
  </a>
  <div class="nav-container">
    <div class="nav-element">
      <a href="/#why">
        Discover
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/#how">
        How it works
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/#pricing">
        Pricing
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/#contact">
        Contact us
      </a>
    </div> <!-- End .nav-element -->
  </div>
</div>
