<!-- Navbar -->
<div class="navbar-recovr hidden-sm hidden-xs">
  <a href="/" class="iggrow-logo">
    <%= image_tag("logo.png", class: "logo-circle") %>
    mensa
  </a>
  <div class="nav-container">
    <div class="nav-element">
      <a href="/how-it-works">
        How It Works
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/pricing">
        Pricing
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/blog">
        Blog
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element">
      <a href="/faq">
        Faq
      </a>
    </div> <!-- End .nav-element -->
    <div class="nav-element primary-button">
      <a href="/pricing">
        Get Started
      </a>
    </div> <!-- End .nav-element -->
  </div>
</div>

<!-- Mobile Navbar -->
<div class="navbar-mobile hidden-md hidden-lg">
  <!-- Logo Helloradius -->
  <a href="/" class="logo-mobile logo-mensa">
    <%= image_tag("logo.png", class: "logo-circle") %>
    mensa
  </a>

  <div class="dropdown">
    <!-- Dropdown Icon -->
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="fas fa-bars"></i>
    </button>

    <!-- List -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="/how-it-works">How It Works</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/faq">Faq</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/plan">Get Started</a></li>
    </ul>
  </div>
</div>

