<%= render "shared/navbar" %>

<div id="contact-page">
  <form class="contact-form" method="POST" action="https://formspree.io/loren@hellomensa.xyz">
    <input class="form-input" type="email" name="email" placeholder="Your email">
    <textarea class="form-input mt30" name="message" placeholder="Your message"></textarea>
    <button class="primary-button form-btn" type="submit">Send</button>
  </form>
</div>

<%= render "shared/footer_pages" %>



