<!-- Navbar -->
<%= render 'shared/navbar' %>

<div id="how-it-works">
  <div class="banner-pages">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="how-desc">We help brands and influencers grow on Instagram by providing <br>them with a tool that connects them with real followers.</h1>
        </div>
      </div>
    </div>
  </div> <!-- End .banner-pages -->

  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h3 class="text-center">Ok I am interested...</h3>
        <div id="accordion" class="faq-questions">
          <!-- Question 1 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  How does mensa works?
                </button>
              </h5>
            </div>
            <!-- Answer 1 -->
            <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Once you sign up, provide us with a list of target Instagram accounts that have followers that you’d like to attract.
                <br>
                We’ll then ‘like’ 1-2 photos from each user following those target accounts you provided. The users will get a notification that you liked their photo and come check out your Instagram.
                <br>
                Since we’re targeting similar accounts to yours, it increases the likelihood that they’ll also like your brand and want to follow you.
                <br>
                We like around 30,000 photos a month, helping to boost the overall organic reach on your page.
                <br>
                You will be sent a growth report each month and assigned a dedicated customer success manager that you can reach out to at anytime.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 2 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                  How many followers should I expect by using Mensa?
                </button>
              </h5>
            </div>
            <!-- Answer 2 -->
            <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                It really varies by each account. If you’re consistently posting high-quality content and to the right audience, you’re definitely going to see a higher number of followers. At the end of the day, it’s up to the user whether or not they choose to follow you. We can’t guarantee any specific number of followers and please don’t believe any company who says they can- it’s just not possible.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 3 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                  Does Mensa work for my industry?
                </button>
              </h5>
            </div>
            <!-- Answer 3 -->
            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes! Having worked with thousands of brands and influencers across various industries, the Mensa service works for any account that has an audience on Instagram.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 4 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                  Why do I need more Instagram followers?
                </button>
              </h5>
            </div>
            <!-- Answer 4 -->
            <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                There is a lot to be said for social proof on Instagram. Nowadays, you could have the best product in the world, but if you only have a few hundred followers you will lose credibility.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 5 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                  Why do I need more Instagram followers?
                </button>
              </h5>
            </div>
            <!-- Answer 5 -->
            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Good question! The reason over 2,000 brands and influencers have chosen to work with us is because we focus on getting you organic followers that are genuinely interested in your brand. We have a proprietary set of filters that make sure we only engage with real users - none of those spam or fake accounts that end up disappearing after a few weeks.
                <br>
                Plus, our Customer Success team actually responds! You can rest easy knowing that you can reach out to someone anytime with questions.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 6 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                  Do you follow/unfollow or leave auto comments?
                </button>
              </h5>
            </div>
            <!-- Answer 6 -->
            <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                No. We try to remain as authentic as possible so we just stick to liking, that means NO follow/unfollow or spammy comments. These likes act as a tap on the shoulder - just letting them know, “Hey, we’re here, check us out!”
                <br>
                Our number one priority is to protect your brand’s equity and keep your account secure.
              </div>
            </div>
          </div>
        </div>

        <br><br><br>
        <h3 class="text-center">So how do I get started?</h3>

        <div id="accordion" class="faq-questions">
          <!-- Question 7 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                  What do I need to get started?
                </button>
              </h5>
            </div>
            <!-- Answer 7 -->
            <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                To get started, we would need your Instagram handle, password and a list of target accounts. Target accounts are other Instagram accounts that have followers that you would like to attract back to your page. More often than not, these end up being competitors, complementary brands, influencers in your space, etc.
                <br>
                Remember, we are not liking the accounts you give us, but THEIR followers.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 8 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                  Do you offer any sort of free trial?
                </button>
              </h5>
            </div>
            <!-- Answer 8 -->
            <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                We have a 14 day money-back guarantee (excluding one year contracts). If you are not happy within your first two weeks of the service, just let us know and we will issue you a refund. No questions asked.
                <br>
                However, the people who have had the most success are the ones who have been with us the longest.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 9 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                  I am a social media manager with a lot of accounts. Do you have a plan for me?
                </button>
              </h5>
            </div>
            <!-- Answer 9 -->
            <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                We work with a TON of Social Media Managers, PR companies, and Digital Agencies.
                <br>
                <a href="/contact-us">Contact us</a> and we can discuss your specific needs.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 10 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                  Do you have a list of brands/examples that you have worked with?
                </button>
              </h5>
            </div>
            <!-- Answer 10 -->
            <div id="collapse10" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yeah! Check out our amazing customers in the <a href="/contact-us">Case Study</a> section above.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 11 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                  Can I use your service simultaniously with another one?
                </button>
              </h5>
            </div>
            <!-- Answer 11 -->
            <div id="collapse11" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                In order for us to work at our optimal potential, we recommend not using any other growth services simultaneously. If you have any questions about using other services in conjunction with Kicksta, just ask your Customer Success Manager.
              </div>
            </div>
          </div>
        </div>

        <br><br><br>
        <h3 class="text-center">Alright, I just signed up…</h3>

        <div id="accordion" class="faq-questions">
          <!-- Question 12 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                  What happen after I sign up?
                </button>
              </h5>
            </div>
            <!-- Answer 12 -->
            <div id="collapse12" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                After you signup and enter in a few target accounts, we still begin the set-up process and have your account ready to rock in less than 24 hours. We will be in touch throughout the whole onboarding process. Once we are good to go, you can focus on consistently posting high-quality content and we’ll focus on bringing the right people back to your page.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 13 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse13" aria-expanded="true" aria-controls="collapse13">
                  When will I see the results?
                </button>
              </h5>
            </div>
            <!-- Answer 13 -->
            <div id="collapse13" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Give us 24 hours to get your account all set-up, then we will start driving traffic to your page.
                <br>
                We are a very organic service using only “likes” to attract people back to your page. For this reason, engagement tends to come in waves. Please do not let this discourage you! As we progress, we’ll learn which targets are bringing you in the most followers. That way, moving forward we can adjust your targets to optimize growth.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 14 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse14" aria-expanded="true" aria-controls="collapse14">
                  Can I cancel anytime?
                </button>
              </h5>
            </div>
            <!-- Answer 14 -->
            <div id="collapse14" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes, if you are paying monthly, you may cancel at anytime. We try to keep it as flexible as possible. However, the clients who have seen the most success have been the ones who have stayed on with us the longest.
                <br>
                Our long-term contracts are binding.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 15 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                  Is my billing recurring?
                </button>
              </h5>
            </div>
            <!-- Answer 15 -->
            <div id="collapse15" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes, for your convenience, all plans will automatically renew at the end of each billing cycle.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 16 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse16" aria-expanded="true" aria-controls="collapse16">
                  Can you post conctent for me?
                </button>
              </h5>
            </div>
            <!-- Answer 16 -->
            <div id="collapse16" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                No, at this time, we do not offer posting content for our clients.
                <br>
                Posting content for clients is just too subjective. No one knows your brand voice better than you. You focus on posting high-quality content and we’ll focus on bringing the right people to your page.
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 17 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse17" aria-expanded="true" aria-controls="collapse17">
                  Will Mensa solve all my marketing problems or make me insta-famous overnight?
                </button>
              </h5>
            </div>
            <!-- Answer 17 -->
            <div id="collapse17" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                Mensa is a tool to help grow your followers organically. We take this tedious task off your plate so you can focus on more important things, like creating high-quality content. We work with a variety of businesses, brands and influencers - some with an established following and some just starting out.
                <br>
                However, our service works best when combined with your own efforts to optimize your Instagram account - such as influencer marketing, running contests, paid ads, etc.
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<%= render 'shared/footer' %>
