<%= render 'shared/navbar' %>

<!-- <div class="banner-pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Instagram Marketing Strategy, Tips, Tools and Guides</h1>
      </div>
    </div>
  </div>
</div> -->

<div id="pricing">

</div>

<%= render 'shared/footer' %>
