#banner {
  min-height: 78vh;
  background-color: #F6FAFF;
  padding: 8%;
}

.banner-title {
  color: $brand-orange;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 12vh;
  margin-bottom: 5px;

  @media screen and (max-width: 375px) {
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
    margin-top: 17vh;
  }
}

.banner-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 25px;

  @media screen and (max-width: 375px) {
    font-size: 18px;
  }
}

.banner-sub-desc {
  color: $gray;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.banner-pages {
  min-height: 45vh;
  background-color: #F6FAFF;
  text-align: center;
  margin-bottom: 50px;

  h1 {
    padding-top: 150px;
    color: #2A363D;
    font-size: 30px;
  }

}


















