#contact {
  min-height: 50vh;
  position: relative;

  @media screen and (max-width: 375px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.iphone-mock-up {
  position: absolute;
  width: 30%;
  right: 15%;
  bottom: -240px;
  z-index: -1;
}

.contact-us {
  font-size: 22px;
  font-weight: 500;
  color: #2A363D;
  line-height: 1.6;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.join {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6FAFF;
}

#iphone {
  padding-top: 100px;
  padding-bottom: 100px;
  padding: 100px 20px
}
