#footer {
  height: 50vh;
  background-color: $brand-blue;
}

.footer-top {
  display: flex;
  background-color: $brand-blue-light;
  height: 30%;
  text-align: center;
}

.footer-top-button {
  margin: auto;
}
