#how {
  padding-top: 60px;

  @media screen and (max-width: 375px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
  }
}

.feature {
  margin-top: 30px;
  margin-bottom: 50px;

  @media screen and (max-width: 375px) {
    margin-bottom: 80px;
  }
}

.feature-content {
  display: flex;
  height: 300px;
}

.feature-content-vert {
  margin: auto;
}

.feature-illu {
  width: auto;
  height: 300px;
  margin-left: 15%;
  margin-right: 15%;

  @media screen and (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
  }
}

.feature-title {
  color: #2A363D;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-align: left;
  font-size: 20px;
}

.features-desc {
  color: $gray;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
  padding-right: 60px;
  text-align: left;
}

.how-image {
  width: 80%;
}

.banner-image {
  width: 100%;
}
