#pricing {
  min-height: 100vh;
  background-color: #F6FAFF;
  padding-top: 105px;
  padding-left: 10%;
  padding-right: 10%;

  @media screen and (max-width: 410px) {
    padding-top: 50px;
  }
}

.pricing-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;

  @media screen and (max-width: 410px) {
    font-size: 28px;
  }
}

.pricing-desc {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 60px;

  @media screen and (max-width: 410px) {
    font-size: 15px;
  }
}

.tailored-plan {
  margin-bottom: 50px;
}
