#pricing {
  min-height: 100vh;
  background-color: $brand-blue-light;
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
}

.card-pricing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.card-pricing-footer {
  position: relative;
  background-color: $purple;
  height: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-pricing-content {
  padding-top: 35px;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
  }
}

.pricing-spec {
  color: $gray;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 25px;
}

.pricing-title {
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 6px;
  text-align: center;
}

.price {
  color: $brand-blue;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 55px;
  font-weight: 300;
  margin-top: 20px;
  padding-right: 10px;
}

.pricing-button {
  position: absolute;
  width: 60%;
  bottom: -25px;
  margin-left: 20%;
  margin-right: 20%;
}
