.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: $brand-orange;
  margin-bottom: 15px;
}

.section-desc {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.6;
}
