.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #2A363D;
  margin-bottom: 15px;
}

.section-desc {
  max-width: 400px;
  color: $gray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.9;
  margin-bottom: 50px;
}
