#why {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 70px;
}

.tututu {
  color: $gray;
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.5;
  margin-bottom: 100px;
}
