.card-pricing {
  width: 310px;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 10px 10px 30px rgba(180, 180, 180, .3);

  @media screen and (max-width: 410px) {
    width: 100%;
  }
}

.card-pricing-header {
  .img-header-pricing-1 {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.card-pricing-content {
  padding: 25px;
}

.card-pricing-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-pricing-desc {
  text-align: center;
  font-size: 13px;
}

.card-pricing-price {
  text-align: center;
  font-size: 26px;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 20px;

  .price {
    font-size: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
  }

  .montlhy {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
  }
}

.pricing-features {
  margin-top: 30px;

  @media screen and (max-width: 410px) {
    padding-left: 20px;
  }

  .feature-element {
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, .6);

    @media screen and (max-width: 410px) {
      font-size: 13px;
    }

    .fa-check-circle {
      color: #5FB760;
      margin-left: -20px;
      margin-right: 6px;
    }
  }
}

/////////////////////////////////////////////////////////////////// Card Persona

.card-persona {
  min-height: 200px;
  width: 90%;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  box-shadow: 4px 4px 30px  rgba(100, 100, 100, .2);
}

.persona-title {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.persona-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}







