@import "bootstrap-sprockets";
@import "bootstrap";

// Config
@import "config/utilities";
@import "config/variables";

// Components
@import "components/buttons";
@import "components/navbar";
@import "components/form";

// Sections
@import "sections/banner";
@import "sections/why";
@import "sections/media";
@import "sections/how";
@import "sections/pricing";
@import "sections/contact";
@import "sections/footer";
@import "sections/confirm_section";
@import "sections/thankyou_section";
@import "sections/sections";

// Pages
@import "pages/faq";
@import "pages/blog";
@import "pages/terms";
@import "pages/jobs";
@import "pages/how";


body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFFFF;
}

hr {
  background-color: RGBA(246, 250, 255, 1.00);
}
