<div id="banner">
  <h1 class="banner-title">
    <%= t('landing.banner.title_html') %>
  </h1> <!-- End .banner-title -->

  <p class="banner-desc">
    <%= t('landing.banner.banner_desc_html') %>
  </p>

  <button class="primary-button">
    <a href="#pricing"><%= t('landing.buttons.free_trial') %></a>
  </button>
</div>
<!-- forgot smth -->
