<div id="banner">
  <h1 class="banner-title">
    Get real followers <br>
    for Instagram.
  </h1> <!-- End .banner-title -->

  <p class="banner-desc">
    Use Mensa to get more Instagram followers and turn new <br>
    connections into more gigs, paid partnerships, and sales today.
  </p>

  <button class="primary-button">
    <a href="/pricing">Get Started</a>
  </button>

  <p>Easy set-up • Real followers • Spam free</p>
</div>

