<div id="banner">




  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1 class="banner-title">
          Get real followers for Instagram.
        </h1>
        <p class="banner-desc">
          Use Mensa to get more Instagram followers and turn new
          connections into more gigs, paid partnerships, and sales today.
        </p>
        <button class="primary-button">
          <a href="/pricing">Get Started</a>
        </button>
        <p class="banner-sub-desc">Easy set-up • Real followers • Spam free</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <%= image_tag("image-banner.png", class: "banner-image mt50") %>
      </div>
    </div>
  </div><!-- End .banner-title -->
</div>


