<div id="banner">
  <h1 class="banner-title">
    BUILD A <strong>STRONG</strong>, <strong>ACTIVE</strong> AND
    <strong>RELIABLE</strong> COMMUNITY
    <br>
    AROUND YOUR BUSINESS ON <span class="insta-word">INSTAGRAM</span>
  </h1> <!-- End .banner-title -->

  <p class="banner-desc">
    Grow your instagram community with real and organic followers.
    <br>
    Get up to +1.000 targetted followers within a month.
  </p> <!-- End .banner-desc -->

  <button class="primary-button">
    <a href="#pricing">Get Started</a>
  </button>
</div>
