<div class="under-construction">
  <h1>Under Construction</h1>
  <h3>Mensa is coming really soon!</h3>
</div>

<style>
  .under-construction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F55B49;
  color: #EFEFEF;

  h1 {
    font-size: 32px;
    font-weight: 700;
  }

  h3 {
    font-size: 22px;
    color: white;
    margin-top: 0;
  }

  a {
    width: 250px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    .fa-arrow-left {
      font-size: 16px;
      margin-right: 5px;
      padding-bottom: 1px;
    }
  }
}

</style>
