<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="contact-us">
         Join over 1,500+ brands and influencers who use Mensa to boost their social credibility.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="contact-us">
         🤠 🚀 🤑
Improve your brands
credibility today
Kicksta is a simple tool to get more organic followers for marketers and influencers on Instagram.
        </div>
      </div>
    </div>
  </div>
  <%= image_tag("iphone-mockup-final.png", class: "iphone-mock-up hidden-xs") %>
</div>
