<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="contact-us">
          <%= t('landing.contact.contact_us_html') %>
          <div class="we-can-help"><%= t('landing.contact.help') %></div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag("iphone-mockup-final.png", class: "iphone-mock-up hidden-xs") %>
</div>
