<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1 class="faq-title">Frequently asked questions</h1>
      </div>
    </div>

<div id="faq" class="mw100pc">
  <div class="container">
    <div class="row">
        <div id="accordion" class="faq-questions">
          <!-- Question 1 -->
          <div class="card question">
            <div class="card-header question-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  Does Mensa offer any <br class="hidden-sm hidden-md hidden-lg">sort of guarantee?
                </button>
              </h5>
            </div>
            <!-- Answer 1 -->
            <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body faq-answer">
                We offer a 14 day money-back guarantee. This means that if you are not happy within your first two weeks of service, just let us know and we will issue you a refund. No questions asked!
              </div>
            </div>
          </div>
        </div>

        <div id="accordion" class="faq-questions">
          <!-- Question 2 -->
          <div class="card question">
            <div class="card-header question-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  Can I cancel my Mensa <br class="hidden-sm hidden-md hidden-lg">subscription at any time?
                </button>
              </h5>
            </div>
            <!-- Answer 2 -->
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes, you may cancel your account at any time in the dashboard. We try to keep it as flexible as possible. However, the people who have had the most success are the ones who have been with us the longest.
              </div>
            </div>
          </div>
        </div>

          <!-- Question 3 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Will Mensa work for <br class="hidden-sm hidden-md hidden-lg">my account?
                </button>
              </h5>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Yes it will! Personal account? ✓ Business account? ✓ Dogstagram? ✓ It doesn’t matter the type of account you run, our process is exactly the same. As long as there are people on Instagram who are interested in your brand, mensa will work for you.
              </div>
            </div>
          </div>

          <!-- Question 4 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  What happen after I <br class="hidden-sm hidden-md hidden-lg">subscribe with Mensa?
                </button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                You will receive an email confirmation from us as soon as you sign up. Give us up to 24 hours to complete the set-up process, and you will get another email confirming when activity has begun.
              </div>
            </div>
          </div>

          <!-- Question 5 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  How many followers should I <br class="hidden-sm hidden-md hidden-lg">expect by using Mensa?
                </button>
              </h5>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                As each account is different, this number will vary. If you’re consistently posting high-quality content you’re definitely going to see a higher number of followers. We can’t guarantee any specific number of followers because these are real people who have to decide by themselves whether or not to follow you. Please don’t believe any company that says they can guarantee a specific number of followers – it’s just not possible.
              </div>
            </div>
          </div>

          <!-- Question 6 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  You post for me?
                </button>
              </h5>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We have a in-house team that will take in charge to post your content with the caption you provide for you.
                We analyse when is the perfect time to post to get the best engagement with your community.
              </div>
            </div>
          </div>

          <!-- Question 7 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  What can Mensa help me<br class="hidden-sm hidden-md hidden-lg"> accomplish?
                </button>
              </h5>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                mensa helps you get more REAL followers on Instagram. More followers mean better social proof and increased brand awareness, which leads to more gigs, paid partnerships, and sales for your business!
              </div>
            </div>
          </div>

          <!-- Question 20 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
                  How can I see the results?
                </button>
              </h5>
            </div>
            <div id="collapse20" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                Through the analytics report will see the engagement grow with your account. The direct results will be to gain more followers, likes and comments.
              </div>
            </div>
          </div>

          <!-- Question 21 -->
          <div class="card question">
            <div class="card-header question-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
                  How will you communicate<br class="hidden-sm hidden-md hidden-lg"> with me?
                </button>
              </h5>
            </div>
            <div id="collapse21" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body faq-answer">
                We communicate with you by email. But if needed we can schedule a call, or a live chat.
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
