<div id="how">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="section-title">How it Works</h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="section-desc">Getting more followers on Instagram is harder than ever. Learn how Kicksta has helped over 5,000 brands like yours grow in 4 easy steps.</p>
      </div>
    </div>

    <div class="row feature">
      <!-- Illustration mobile & desktop -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Tell us your audience</h3>
            <div class="features-desc">Provide us with a few Instagram accounts
            that have followers you’d like to attract.</div>
          </div>
        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile -->
      <div class="hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">We get their attention</h3>
            <div class="features-desc">We’ll like 1-2 photos from each user
            following those accounts on your behalf.</div>
          </div>
        </div>
      </div>
      <!-- Illustration desktop -->
      <div class="hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile & desktop -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">Improve your brand awareness</h3>
            <div class="features-desc">They’ll get a notification that you liked
            their photo and come back to check out your page.</div>
          </div>
        </div>
      </div>
    </div><!-- End .row .feature -->

    <div class="row feature">
      <!-- Illustration mobile -->
      <div class="hidden-sm hidden-md hidden-lg">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="feature-content">
          <div class="feature-content-vert">
            <h3 class="feature-title">And enjoy organic growth</h3>
            <div class="features-desc">Because we engage with people who have similar
            interests to your brand, it increases the chances they’ll want to
            follow your Instagram as well.</div>
          </div>
        </div>
      </div>
      <!-- Illustration desktop -->
      <div class="hidden-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

        </div>
      </div>
    </div> <!-- End .row .feature -->
  </div>
</div>
