<div id="media">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="media-logo">
          <%= image_tag("forbes.png", class: "media-logo") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="media-logo">
          <%= image_tag("viral.png", class: "media-logo") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="media-logo">
          <%= image_tag("inc.png", class: "media-logo") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="media-logo">
          <%= image_tag("nyccreative.png", class: "media-logo") %>
        </div>
      </div>
    </div>
  </div>
</div>
