<div id="pricing">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <li class="pricing-spec"><strong>500 - 900</strong> <br> targeted Followers per month</li>
              <li class="pricing-spec">Follow / Unfollow</li>
              <li class="pricing-spec">Like / Unlike</li>
              <li class="pricing-spec">Limited support</li>
              <li class="pricing-spec">Monthly report</li>
              <!-- <li class="pricing-spec">•</li>
              <li class="pricing-spec">•</li> -->
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">BASIC</h3>
            <div class="price">$ 59</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_basic_path %>
            </button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <li class="pricing-spec"><strong>900 - 1500</strong> <br> targeted Followers per month</li>
              <li class="pricing-spec">Follow /Unfollow</li>
              <li class="pricing-spec">Like / Unlike</li>
              <li class="pricing-spec">Comments</li>
              <li class="pricing-spec">Limited support</li>
              <li class="pricing-spec">Monthly report (upon request)</li>
              <!-- <li class="pricing-spec">•</li> -->
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">INTERMEDIATE</h3>
            <div class="price">$ 89</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_intermediate_path %>
            </button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card-pricing">
          <div class="card-pricing-content">
            <ul>
              <li class="pricing-spec"><strong>1500 +</strong> <br> targeted Followers</li>
              <li class="pricing-spec">Follow / unfollow</li>
              <li class="pricing-spec">Like / unlike</li>
              <li class="pricing-spec">Comments</li>
              <li class="pricing-spec">Direct Messages</li>
              <li class="pricing-spec">Unlimited support</li>
              <li class="pricing-spec">Weekly report (upon request)</li>
            </ul>
          </div>
          <div class="card-pricing-footer">
            <h3 class="pricing-title">PRO</h3>
            <div class="price">$ 159</div>
            <button class="primary-button pricing-button">
              <%= link_to 'Get Started', getstarted_pro_path %>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
